.ex1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #8bc046;
  text-align: center;
  color: #fff;
  padding: 1em;
  font-size: 1.5em;
}
.ex1 i {
  display: block;
  font-family: FontAwesome;
}
.ex1 i:before {
  font-size: 3.5em;
  content: "\f2ae";
}
