/* https://css-tricks.com/examples/ShapesOfCSS/ */

/* to overwrite revealjs css*/
div.star-five {
  margin: 25px 0;
  position: relative;
  display: block;
  color: #17ff2e;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #17ff2e;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

div.star-five:before {
  border-bottom: 40px solid #17ff2e;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -23px;
  left: -33px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

div.star-five:after {
  position: absolute;
  display: block;
  color: #17ff2e;
  top: 3px;
  left: -53px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #17ff2e;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
