@import './vendor/reveal';
@import './vendor/night';
@import './vendor/zenburn';
@import 'grid';
@import 'talk-bubble';
@import 'heart';
@import 'magnifying-glass';
@import 'star-five';
@import 'icon';

.selection--simple::selection {
  color: #F3D7AC;
  background: #27ae60;
}

.selection--gross::selection {
  background: #000;
  color: #000;
  text-shadow: 1px 1px 0 red, 2px 2px 0 orange, 3px 3px 0 yellow, 4px 4px 0 green, 5px 5px 0 blue, 6px 6px 0 indigo, 7px 7px 0 violet !important;
}

.half {
  width: 40%;
  float: left;
}
.half2 {
  width: 60%;
  float: left;
}

.text--large {
  font-size: .9em !important;
}
.text--medium {
  font-size: .77em !important;
}
code {
  max-height: 100% !important;
}

.margin-btm {
  margin-bottom: 2em !important;
}
